* {
    font-family: 'Work Sans';
}

/* first part of website(header) */
.header {
    width: 1600px
}

.header-item {

    position: absolute;
    top: 20%;
    left: 50%;
}

.header-title {
    display: flex;
}

.header-sub-title {
    font-weight: 700;
    font-size: 55px;
    color: #151414;
    font-family: 'Work Sans';

}



.header-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #f15B22;
    padding: 25px;
    margin-top: 25px;
}

/* section part */
.section {
    display: flex;
    gap: 100px;
}

.section-title {
    font-weight: 800;
    font-size: 50px;
    margin-top: 200px;


}

.section-sub-title {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
}

.section-description,
li {
    margin-top: 10px;
}

/* My plans parts */
.section-plans {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 120px;
    margin-top: 60px;
    text-align: center;
}

.my-plans {
    display: flex;
    margin-left: 120px;
    justify-content: space-evenly;


}

.plans-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-bottom: 12px;
    margin-top: 14px;
    font-family: 'Work Sans';

}

.plans-description {
    font-weight: 500;
    font-size: 25px;
    color:  #737272;
    margin-bottom: 140px;
}